header {
    color: white;
    background: #2c3e50;
}

.color1 {
    color: white;
    background: #2c3e50;
}

.sign-in {
    margin-top: 5em ;
}

.sign-in-btn {
    margin-top: 2em;
}

.perfil-photo {
    width: 15em;
    height: 15em;
    margin-top: 2em;
}

.friend-photo {
    width: 1em;
    height: 1em;
}

.perfil-data {
    margin-top: 2em;
    margin-left: 2em;
}

.row + .row {
    margin-top: 4em;
}