header {
    color: white;
    background: #2c3e50;
}

.color1 {
    color: white;
    background: #2c3e50;
}

.sign-in {
    margin-top: 5em ;
}

.sign-in-btn {
    margin-top: 2em;
}

.perfil-photo {
    width: 15em;
    height: 15em;
    margin-top: 2em;
}

.friend-photo {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.perfil-data {
    margin-top: 2em;
    margin-left: 2em;
}

.container + .container {
    margin-top: 2em;
}

.row + .row {
    margin-top: 1em;
}

.last-row {
    margin-bottom: 4rem;
}

.logo {
    width: 7rem;
    height: 3rem;
}

.avatar {
    width: 2rem;
    height: 2rem;
}
